footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
    margin-top: 50px; 
  }
  
  footer p {
    color: #d1d5db; 
    font-size: 1rem;
    margin: 0;
  }
  