body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: rgb(9, 9, 35);
    /* background: linear-gradient(180deg, rgba(1,1,25,0.9669117647058824) 0%, rgba(10,10,65,1) 100%); */
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    html, body {
        background-size: auto;
    }
}
