* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: transparent;
}

.navbar-brand {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  /* Asegura que el logo Franco.dev se mantenga a la izquierda */
  position: relative;
  left: 0;
}

.navbar-brand:hover {
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: rgb(29, 78, 216); 
}

/* Ícono de menú hamburguesa (oculto en pantallas grandes) */
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 40px; /* Asegura que esté alineado a la derecha */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente la hamburguesa */
}

/* Estilos responsive */
@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start; /* Mantiene el logotipo a la izquierda */
    padding: 10px 5%;
    position: relative;
  }

  /* Mantén la marca a la izquierda en móviles */
  .navbar-brand {
    position: relative;
    margin-right: auto; /* Empuja la marca a la izquierda */
  }

  /* Ocultar enlaces por defecto en pantallas pequeñas */
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: rgba(10, 15, 36, 0.9);
    width: 100%;
    text-align: center;
  }

  /* Mostrar enlaces cuando se activa el menú */
  .navbar-links.active {
    display: flex;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  /* Mostrar el ícono de hamburguesa en pantallas pequeñas */
  .hamburger {
    display: block;
  }
}
